<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }} — {{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "/style.css" | relURL }}">
</head>
<body>
  <main style="max-width: 740px; margin: 48px auto; padding: 0 16px;">
    <p style="opacity:.6; font-size: 14px; margin-bottom: 8px;">
      {{ .Date.Format "2006-01-02" }}
    </p>
    <h1 style="margin-top: 0;">{{ .Title }}</h1>
    {{ .Content }}
  </main>
</body>
</html>
