<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "style.css" | absURL }}" />
</head>
<body>
  <main>
    <img src="{{ "catarsis_header.jpg" | absURL }}" alt="Catarsis" />
    <hr />
    <section>
      {{ range .Site.RegularPages.ByDate.Reverse }}
        <article>
          <a href="{{ .RelPermalink }}">
            <h2>{{ .Title }}</h2>
          </a>
          <div class="fecha">{{ .Date.Format "2006-01-02" }}</div>
          <p>{{ .Summary }}</p>
          <a href="{{ .RelPermalink }}">Leer más +</a>
        </article>
      {{ end }}
    </section>
  </main>
</body>
</html>
